<form action="/result">
  <br>
  Name des Partners:
  <input type="text" name="partner_name"><br>
  <br>
  <input type="radio" name="relationship" value="advertiser"> Advertiser<br>
  <input type="radio" name="relationship" value="publisher"> Publisher<br>
  <br>
  Budget:
  <input type="text" name="budget"><br>
  <br>
  Vom Partner gezählte Klicks:
  <input type="text" name="partner_count"><br>
  <br>
  Von Tideri gezählte Klicks:
  <input type="text" name="tideri_count"><br>
  <br>
  <input type="submit" value="Berechnen">
</form>
